body {
    background-image: url('../img/giphy.gif');
    background-size: cover;
    align-content: center;
    align-items: center;
    position: 25%;
}

h1 {
    align-content: center;
    align-items: center;
    color: #fff;
    font-size: 80pt;
    text-align: center;
}

h3 {
    color: #fff;
    font-size: 40pt;
    text-align: center;
}

h5 {
    color: #fff;
    font-size: 15pt;
    text-align: center;
}

.imagen {
    align-content: center;
    width: 50%;
    
}